:root {
    --main-bg-color: #f8f9fa;
    --grid-size: 15vh;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;     
    background-color: var(--main-bg-color);
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

#title {
    font-size: 6vh;
    align-self: top;
    position: absolute;
    top: 3vh;
}

#turn-text {
    font-size: 4vh;
    margin-bottom: 2vh;
    border-bottom: 2px solid black;
}

#player {
    font-size: 8vh;
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, var(--grid-size));
    grid-template-rows: repeat(3, var(--grid-size));
    margin: 2vh 2vw;
}

.cell {
    width: var(--grid-size);
    height: var(--grid-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    cursor: pointer;;
}

.cell:hover {
    background-color: #f0f0f0;
}

#resetbtn {
    margin-top: 3vh;
    margin-bottom: 15px;
    padding: 2vh 3vw;
    font-size: 3vh;
    cursor: pointer;
    border: 2px solid black;
}

#resetbtn:hover {
    background-color: #f0f0f0;
}

.inlinerow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game-history-container{
}

.side-items {
    width: 25vw;
    margin: 5;
    top: 0;
    text-align: center;
    background-color: red;
    padding: 1vh;
}

#game-stats {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
}

#game-stats-title {
    font-size: 4vh;
}

#game-stats-item {
    font-size: 2vh;;
    margin-top: 1vh;
}

#game-stats p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}