body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;     
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

#title {
    font-size: 6vh;
    align-self: top;
    position: absolute;
    top: 3vh;
}

#turn-text {
    font-size: 4vh;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

#player {
    font-size: 8vh;
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 15vh);
    grid-template-rows: repeat(3, 15vh);
}

.cell {
    width: 15vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    cursor: pointer;;
}

.cell:hover {
    background-color: #f0f0f0;
}

#resetbtn {
    margin-top: 3vh;
    margin-bottom: 15px;
    padding: 2vh 3vw;
    font-size: 3vh;
    cursor: pointer;
    border: 2px solid black;
}

#resetbtn:hover {
    background-color: #f0f0f0;
}